/* Done by Tang Hong Jie */
.hover-type-button {
    color: white;
    background-color: #333f4e;
    border:3px solid #333f4e;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}